/*-------------------
				content
--------------------*/
.main
	color darkColor
	padding-bottom 170px
	.items
		row-flex()
		.item
			col()
			size(3)
			//display flex
			//align-items center
			&__left
				//border 2px solid red
			&__center
				//border 2px solid blue
				flex-grow: 1
			&__right
				//border 2px solid green
				margin-top -80px
				z-index 55

.tab-left__content,
.tab__content
	display none
.active
	display block

/*-------------------
		left-content
--------------------*/
.tab-left
	border-right 1px solid lineColor
	min-height 480px
	&__links
		display flex
		justify-content space-between
		width 100%
		padding 25px
		color darkColor
		background grayColor
		border 1px solid lineColor
		border-right none
		outline none
		cursor pointer
		transition: 0.3s
		&:hover,
		&:active
			background none
	&__name
		align-self center
		Geomanist()
		text-align left
		font-size 1.25rem
		line-height 21px
	&__price
		display flex
		flex-direction column
		align-items flex-end
		font-size 1rem
		line-height 24px
		span
			Geomanist()
			font-size 1.6875rem
			line-height 30px

/*-------------------
		center-content
--------------------*/
.center-header
	padding 25px 0 10px
	&__title
		Geomanist()
		font-size 2.75rem
		line-height 46px
	&__subtitle
		font-size 1.375rem
		line-height 20px
.content
	color nuarColor
	&__list
		display flex
		justify-content space-around
		border-bottom 1px solid lineColor
		padding-bottom 2.09px
		position sticky
		top 0
		z-index 9999
		background whiteColor
	&__links
		font-size 1.25rem
		line-height: 30px
		text-decoration none
		color inherit
		background none
		border none
		outline none
		cursor pointer
		transition: 0.3s
		&:hover,
		&:active
			border-bottom 4.19px solid blueColor
			margin-bottom -4.19px
	&__block
		padding-top 25px
	&__title
		padding-top 40px
		font-size 1.25rem
		font-weight bold
		line-height 30px
	&__text
		font-size 1.0625rem
		line-height 26px
		padding-bottom 20px

.tab
	color nuarColor
	&__name
		display flex
		justify-content space-around
		border-bottom 1px solid lineColor
		padding-bottom 2.09px
	&__links
		font-size 1.25rem
		line-height: 30px
		background none
		border none
		outline none
		cursor pointer
		transition: 0.3s
		&:hover,
		&:active
			border-bottom 4.19px solid blueColor
			margin-bottom -4.19px
	&__content
		padding-top 25px
	&__title
		font-size 1.25rem
		line-height: 30px
	&__text
		font-size 1.0625rem
		line-height 26px
		padding-bottom 20px
.map
	width 100%
	min-height 300px

/*-------------------
		right-content
--------------------*/
// include form.styl
