/* media */

/* media  .col-xl-  1200---px*/
// @media (min-width: 1200px)
 
/* large  .col-lg-  992-1199px*/
// @media (max-width: 1199px) 

/* medium .col-md-  768-991px*/
@media (max-width: 768px) 
	/* header */	
	.menu_hamburger
		display block
	.media_md
		display none

@media (max-width: 320px) 
	.media_sm
		display none