$s-User = 34px 65px -34px -65px 16px 17px 136px 113px 'sprite.png';
$s-chevron-1 = 57px 99px -57px -99px 10px 7px 136px 113px 'sprite.png';
$s-chevron-2 = 82px 99px -82px -99px 10px 7px 136px 113px 'sprite.png';
$s-chevron-3 = 130px 0px -130px 0px 6px 10px 136px 113px 'sprite.png';
$s-chevron-4 = 30px 99px -30px -99px 12px 8px 136px 113px 'sprite.png';
$s-left = 0px 0px 0px 0px 50px 50px 136px 113px 'sprite.png';
$s-question = 95px 65px -95px -65px 14px 15px 136px 113px 'sprite.png';
$s-right = 65px 0px -65px 0px 50px 50px 136px 113px 'sprite.png';
$s-search = 0px 65px 0px -65px 19px 19px 136px 113px 'sprite.png';
$s-shopping = 0px 99px 0px -99px 15px 14px 136px 113px 'sprite.png';
$s-star = 65px 65px -65px -65px 15px 15px 136px 113px 'sprite.png';
