/* Font */

mainFont()
	font-family "ActorRegular", sans-serif, Arial
Source()
	font-family "SourceSansProRegular", sans-serif, Arial
SourceBold()
	font-family "SourceSansProSemiBold", sans-serif, Arial

/* Color */
header__up = #0084BA
header__down = #0098D7

whiteColor = #ffffff
darkColor = #1C2E36
grayColor = #666666
blueColor = #0084BA









