// Подключаем переменные
@import '_typography.styl'

// Подключаем спрайты (просто раскоментируем импорт при появлении PNG спрайтов)
@import '_sprite.styl'

// Подключаем миксины
@import '_mixins.styl'

// Смарт-грид стили
@import 'smart-grid.styl'


html 
  //line-height 1.5
  font-size 16px

reset()

body
  mainFont()

.wrapper
  wrapper()

.container
  width 100%
  max-width 1440px
  margin 0 auto


// Общие стили
@import '_global_styles.styl'

// Сетка
@import '_debug.styl'

// Стили шапки
@import 'modules/_header.styl'

// Стили меню
@import 'modules/_menu_hamburger.styl'

// Стили слайдера
@import 'modules/_slider.styl'

// Стили главной страницы
@import 'page/_index.styl'

// Стили футера
@import 'modules/_footer.styl'

// Стили медиазапросов
@import '_media.styl'

