header.header
	img.header__img(src="static/img/svg/Bitmap.svg" alt="bitmap")
	.wrapper
		.header__items
			.header__item
				h1.header__title One World #[br]Observatory
				p.header__text Positioned on top of the tallest building in the Western Hemisphere - on levels 100, 101, and 102 of the One World Trade Center building - sits One World Observatory, providing you with unique, panoramic views of New York City, its most iconic sites, and surrounding waters from above 1,250 feet. 
			.header__item
