/* Font */

mainFont()
	font-family "SourceSansProRegular", sans-serif, Arial
Geomanist()
	font-family: "Geomanist", sans-serif, Arial
Saira()
	font-family: "SairaExtraCondensedBold", sans-serif, Arial


/* Color */

grayColor = #F2F2F2
lineColor = #C2C2C2
whiteColor = #ffffff
nuarColor = #000000
darkColor = #1C2E36
blueColor = #0084BA
redColor = #E26D5A
formTitle = #666666
