button
	cursor pointer
	transition .2s
	border none
	outline none
	background-color: #0084BA
	&:hover
		.line:nth-child(1) 
			top 2px
			left 5px
			transform translateY(5px) rotate(-45deg)
		.line:nth-child(3) 
			top -2px
			left 5px
			transform translateY(-5px) rotate(45deg)
		.line:nth-child(2) 
			opacity 0
	.line 
		position relative
		height 2px
		width 20px
		top 50%
		left 50%
		background-color #fff
		display block
		margin 5px 0
		transition .2s
		transform translate(-50%,-50%)
				