.header
	position relative
	background grayColor
	//background grayColor url(../img/svg/Bitmap.svg) no-repeat right
	&__img
		position absolute
		right 0
		width 50%
		height 100%
	&__items
		display flex
	&__item
		display flex
		flex-basis 50%
		flex-wrap wrap
		flex-direction column
		max-width: 460px
		padding-top 60px
		padding-bottom 35px
	&__title
		Geomanist()
		font-size 2.75rem
		line-height 46px
		color darkColor
	&__text
		max-width 460px
		font-size 1.0625rem
		line-height 26px
		color nuarColor
